@font-face {
    font-family: "Heebo";
    font-weight: 400;
    font-style: normal;
    src: url("./../assets/fonts/Heebo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Heebo";
    font-weight: 600;
    font-style: normal;
    src: url("./../assets/fonts/Heebo-Bold.ttf") format("truetype");
}

figcaption {
    font-family: 'Heebo';
    color: #646464;
}