section {
    width: 100vw;
}

figure {
    width: 100vw;
}

figure > img {
    width: 100vw;
}

.defPad {
    padding: 0 10px;
}

.da {
    margin: auto;
}

.aHead {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 769px) {
    figure {
        width: auto;
    }

    .aHead {
        max-width: 860px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .articleHeadFigure {
        width: 100%;
    }
}