* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #222222;
}

body {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 769px) {
    body {
        flex-direction: column;
        gap: 100px;
    }
}

/* Navigation - Start */

nav {
    max-width: 996px;
    width: 100%;
    font-family: 'Heebo';
    z-index: 2;
    padding: 0 15px;
    
}

.activeNavMobile {
    height: 100vh;
}

@media only screen and (min-width: 769px) {
    nav {
        padding: 0 25px;
        margin: auto;
    }
}

.constantNav {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    list-style: none;
}

@media only screen and (min-width: 769px) {
    .constantNav {
        height: auto;
        grid-template-columns: 1fr 2fr 3fr;
    }
}

.searchForm {
    display: flex;
    justify-content: start;
    align-items: center;
}

.searchInput {
    width: 100%;
    height: 30px;

    border-radius: 15px;
    border: none;
    padding: 0 15px;
    font-family: "Heebo";
    color:rgb(150, 150, 150);
    background-color: rgba(250,250,250, 0.75);
}

@media only screen and (min-width: 769px) {
    .searchInput {
        width: 40%;
    }
}

.searchInput:focus {
    color: rgb(50, 50, 50);
    border-width: 1px;
}

.navRow {
    grid-template-rows: minmax(56px, max-content) repeat(auto-fill, 200px) 20%;
}

.toggleDisplay {
    display: flex !important;

    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
}

.navMenu {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;

    list-style: none;

    grid-column: span 3;
    grid-row: span 3;
}

.navMenu > li {
    min-width: none;
    white-space: nowrap;
}


.burgerMenu {
    display: flex;

    align-items: center;
    justify-content: flex-end;
}

.navHome {
    display: flex;

    align-items: center;
    justify-content: flex-start;
}

@media only screen and (min-width: 769px){
    .burgerMenu {
        display: none;
    }

    .navMenu {
        height: auto;
        margin: 0;
        background-color: rgba(0,0,0,0);
        position: static;
        transform: none;

        grid-column: span 1;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 50px;

        line-height: 54.93px;
    }
}

.footerNav {
    padding: 0;
}

@media only screen and (min-width: 769px) {
    .footerNav {
        padding: 0;
        margin: 0;
        height: auto;

        display: flex;
        align-items: center;
    }
}

/* Navigation - End */

main {
    max-width: 996px;
    width: 100%;
    padding: 0 15px;

    position: relative;
    margin-top: 80px;

    display: grid;
    
    grid-template-columns: repeat(auto-fit, 345px);
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    gap: 50px;

    justify-content: center;
}

#articleMain {
    max-width: 996px;
    width: 100%;
    padding: 0 0;

    position: relative;

    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 769px) {
    main {
        padding: 0 25px;
        margin: auto;
        margin-top: 106px;

        grid-template-columns: 1fr 1fr;
    }

    #articleMain {
        padding: 0 25px;
    }
}

/* Footer styles - Start */

footer {
    width: 100vw;
    padding: 0 15px;

    background-color: white;
}

@media only screen and (min-width: 769px) {
    footer {
        height: 370px;

        display: flex;
    }
}

.footerWrapper {
    max-width: 996px;
    margin: auto;
    padding: 25px 0;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media only screen and (min-width: 769px) {
    .footerWrapper {
        width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.footerNavList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media only screen and (min-width: 796px) {
    .footerNavList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 25px;
    }
}

.footerNavCol1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-column: span 1;
    grid-row: span 4;
}

.footerNavCol2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-column: span 1;
}

.footerNavCol3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-column: span 1;
}

.footerEditorsWrapper {
    padding: 0;
    margin: 0;
    height: auto;

    display: flex;
    align-items: center;
}

.footerEditorsList {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 25px;
}

/* Footer styles - End */

a, a:visited, nav a:link {
    text-decoration: none;
    color: #222222;
}

header {
    height: 56px;
    width: 100%;

    margin: 0;
    position: fixed;
    z-index: 2;

    display: flex;

    background-color: rgba(250,250,250, 0.75);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(100, 100, 111, 0.00) 0px 7px 29px 0px;
}

@media only screen and (min-width: 769px) {
    header {
        margin-top: 0px;
        backdrop-filter: blur(10px);
        height: 56px;
    }
}

.headerActiveBurger{
    height: 100%;
}

header > button {
    display: flex;

    align-items: center;
    justify-content: flex-end;
    background-color: darkseagreen;

    border: none;
}

.articlesWrapper{
    position: absolute;
}

.homeLink {
    font-size: 28px;
    font-family: "Heebo";
    font-weight: bold;
    color: #222222;
    text-decoration: none;

    display: flex;

    align-items: center;
    justify-content: start;

    background-color: bisque;
}

.workBackground{
    background-color: cornflowerblue;
}

.parent {
    width: 100%;
    position: relative;
}

.child {
    position: absolute;
    width: 100%;
}

.article {
    position: relative;
    width: 100%;
    /* max-width: 400px; */
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    grid-column: span 1;
    grid-row: span 1;
}

.article > * {
    position: relative;
    width: 100%;
}

.article > img {
    border-radius: 10px;
}

.article > h3 {
    font-family: "Heebo";
    font-weight: bold;
    font-size: 35.16px;
}

.article > p {
    font-family: "Heebo";
    font-weight: normal;
    font-size: 16px;
}

.bgCoral {
    background-color: coral;
}

.bgCorn {
    background-color: cornflowerblue;
}

.bgBisque {
    background-color: bisque;
}

.bgBlue {
    background-color: cadetblue;
}

hr {
    margin: 0 auto;
    width: 294px;
    border: 0.5px solid #C8C8C8;
}

@media only screen and (min-width: 769px) {
    hr {
        width: 420px;
        margin-top: 42px;
    }
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

article > p, article > h3 {
    padding: 0 40px;
    line-height: 18 * 1.5px;
}

.article:hover > h3 {
    color: orange;
}

.article:hover {
    cursor: pointer;
}

.dropShadow {
    box-shadow: rgba(100, 100, 111, 0.40) 0px 7px 29px 0px;
}

.articleHeadImage {
    max-width: 100%;
}

@media only screen and (min-width: 769px) {
    article {
        max-width: 640px;
        margin: 0 auto;
    }

    article > p , article > h3 {
        padding: 0 110px;
    }

    article > figure > img {
        max-width: 640px;
        border-radius: 10px;
    }

    .articleHeadImage {
        border-radius: 10px;
    }
}

.noListStyles {
    list-style: none;
}

.top10 {
    grid-column: span 1;
    grid-row: span 2;
    padding: 25px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.40) 0px 7px 29px 0px;
}

.top10List {
    list-style: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top10List > li {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}

.top10Image {
    width: 100%;
    border-radius: 10px;
}

figure {
    width: 100vw;
}

figure > img {
    width: 100vw;
}

.defPad {
    padding: 0 10px;
}

.da {
    margin: 0 auto;
}

.aHead {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 769px) {
    figure {
        width: auto;
    }

    .aHead {
        max-width: 996px;
        margin: 0 auto;
    }

    .articleHeadFigure {
        width: 100%;
    }
}